#root {
  max-width: 1280px;
  text-align: center;
  margin: 20px auto;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 20px;
}

ul {
  position: absolute;
  left: 36.05%;
  z-index: 1;
  padding: 0;
  margin: auto;
}

li {
  width: 358px;
  list-style: none;
}

li button {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px
}

li button img {
  width: 60px;
  /* filter: blur(5px) brightness(0) - for hint*/
}

.header {
  line-height: 10px;
  margin-bottom: 64px;
}

.search input {
  height: 32px;
  width: 350px;
  font-size: 20px;
  padding: 2px 8px;
}

.hints {
  margin-top: 20px;
}

.hint-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.show-hint {
  display: block;
}

.hide-hint {
  display: none;
}

.silhouette img {
  width: 60px;
  filter: blur(3px) brightness(0);
}

.win-message {
  font-size: 32px;
  margin: 20px auto;
}

.clue-labels {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
  gap: 12px;
  align-items: center;
  margin: 20px auto;
}

.clue-labels div {
  width: 100px;
  text-align: center;
}

.guess-list {
  margin: 50px auto;
}

.pokemon-clues {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
  gap: 12px;
  align-items: center;
  margin: 20px auto;
}

.pokemon-clues div {
  height: 100px;
  width: 100px;
  place-content: center;
  border: 1px solid black;
  border-radius: 5px;
}

.pokemon-img {
  background-color: white;
}

.pokemon-clues div img {
  width: 90%;
}

.correct {
  background-color: rgba(124, 207, 124, 0.85);
}

.wrong {
  background-color: rgba(241, 117, 117, 0.85);
}

.partial {
  background-color: rgba(235, 195, 121, 0.85);
}

